@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*Global styles */
  .y-wrapper {
    @apply flex flex-col gap-3;
  }

  .three-dots-wrapper {
    @apply hidden justify-center items-center
           lg:flex
  }

  .three-dots {
    @apply mr-5;
  }
  
  /*App styles */
  .app {
    @apply flex justify-center min-h-full bg-white;
  }
  /*Sidebar styles */
  .sidebar-wrapper {
    @apply sticky top-0 h-screen max-h-full w-fit overflow-y-auto bg-white;
  }

  .sidebar {
    @apply items-end justify-between h-full w-full p-3;
  }

  .sidebar-bot {
    @apply relative w-full;
  }

  .sidebar-account-btn {
    @apply bg-white flex justify-between items-center w-12 h-12 rounded-full outline-none
            hover:brightness-95
            lg:w-64
            lg:p-3;
  }

  .sidebar-account-btn-left {
    @apply flex items-center;
  }

  .sidebar-account-btn-left-span {
    @apply hidden text-lg mx-3
           lg:flex;
  }
  /*Main styles*/
  .main {
    @apply w-[417px] bg-white
           xl:w-[600px];
  }

  .main-header {
    @apply flex justify-center items-center gap-3 h-14 w-full;
  }
  /*Sort*/
  .sort-wrapper {
    @apply flex justify-start w-full items-center p-3 gap-3;
  }

  .sort-label {
    @apply text-lg font-bold;
  }

  .sort-input {
    @apply bg-white text-lg outline-none;
  }
  /*Profile styles*/
  .profile-cover-img {
    @apply w-full bg-slate-500;
  }

  .profile-top-wrapper {
    @apply w-full min-h-[64px] flex justify-between items-center;
  }

  .profile-top-left-wrapper {
    @apply relative w-full h-full;
  }

  .profile-top-left {
    @apply absolute bottom-0 left-6;
  }

  .profile-info-wrapper {
    @apply w-full my-3;
  }

  .profile-username {
    @apply font-bold text-xl;
  }

  .profile-bot-wrapper {
    @apply w-full flex gap-3;
  }

  .profile-bot-info {
    @apply flex items-center gap-1;
  }

  .profile-followers-wrapper {
    @apply w-full flex gap-3 mt-3;
  }

  .profile-followers-text {
    @apply font-medium text-lg;
  }
  /*View Button styles*/
  .view-btn-wrapper {
    @apply w-full border-b-2 border-b-black;
  }

  .view-btn {
    @apply w-1/2 p-3
          hover:bg-red-500
          hover:text-white;
  }

  .view-btn-text {
    @apply text-xl font-bold;
  }
  /*Menu underlay styles*/
  .menu-underlay {
    @apply fixed inset-0 z-40;
  }
  /*Account Menu styles*/
  .account-menu-wrapper {
    @apply fixed w-80 bottom-20 left-4 bg-white rounded-md drop-shadow-lg z-50
           sm:left-12
           md:left-24
           lg:left-48
           xl:left-1/4;
  }

  .account-menu-info-wrapper {
    @apply flex items-center w-full h-20;
  }

  .account-menu-info-text {
    @apply ml-3 text-lg text-left font-bold;
  }

  .account-menu-item {
    @apply w-full h-14 p-4;
  }

  .account-menu-item-text {
    @apply text-lg;
  }
  /*Feed styles*/
  .feed {
    @apply w-full flex flex-col gap-3 p-3;
  }
  /*Other*/
  .icon-wrapper {
    @apply flex justify-center items-center h-14 w-14 p-3 hover:cursor-pointer text-3xl;
  }

  .story-box {
    @apply flex p-3 w-full h-auto border-2 bg-white rounded-lg;
  }

  .sb-profile-picture-wrapper {
    @apply mr-3 h-full w-fit;
  }

  .sb-content-wrapper {
    @apply flex flex-col gap-3;
  }

  .sb-text-area {
    @apply w-full outline-none text-xl resize-none;
  }

  .sb-image-wrapper {
    @apply relative text-3xl rounded;
  }

  .sb-image {
    @apply rounded-xl w-full aspect-[4/5] object-cover;
  }

  .page {
    @apply w-full flex flex-col items-center p-3;
  }

  .profile-picture-small {
    @apply h-12 w-12 rounded-full object-cover;
  }

  .profile-picture-large {
    @apply h-36 w-36 rounded-full object-cover;
  }

  .page-heading-wrapper {
    @apply w-full py-3
  }

  .page-heading {
    @apply font-bold text-3xl
  }

  .follow-button {
    @apply h-[32px] bg-white border-[1px] outline-none border-black rounded-full px-4 text-black text-sm font-bold whitespace-nowrap
    hover:bg-red-500 hover:border-white hover:text-white;
  }

  .inactive-button {
    @apply h-[32px] bg-gray-500 border-2 border-black rounded-full px-4 text-slate-400 text-sm font-bold whitespace-nowrap pointer-events-none;
  }
}